@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low:
    0px 0.3px 0.4px hsl(var(--shadow-color) / 0.11),
    0px 1px 1.2px -1.9px hsl(var(--shadow-color) / 0.15);
  --shadow-elevation-medium:
    0px 0.3px 0.4px hsl(var(--shadow-color) / 0.11),
    0px 1.4px 1.7px -1px hsl(var(--shadow-color) / 0.13),
    -0.1px 5.1px 6.2px -1.9px hsl(var(--shadow-color) / 0.15);
  --shadow-elevation-high:
    0px 0.3px 0.4px hsl(var(--shadow-color) / 0.1),
    -0.1px 2.2px 2.7px -0.4px hsl(var(--shadow-color) / 0.11),
    -0.1px 4.5px 5.4px -0.8px hsl(var(--shadow-color) / 0.12),
    -0.2px 8.2px 9.9px -1.2px hsl(var(--shadow-color) / 0.13),
    -0.4px 14.4px 17.4px -1.6px hsl(var(--shadow-color) / 0.13),
    -0.7px 24.5px 29.6px -1.9px hsl(var(--shadow-color) / 0.14);
}
body {
  background-image: linear-gradient(
  to top,
  #009272,
  #00966e,
  #009a6a,
  #009e64,
  #00a25e
);
  background-size: cover;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {font-size:3em}
h2 {font-size:2.25em}
h3 {
  font-size:4.25vh;
  line-height: 1;
}
h1, h2, h3 {
  margin:0.25em 0;
  text-transform: uppercase;
}
#root {
  display: flex;
  justify-content: center;
}
.main {
  position: relative;
  max-width: 800px;
}
.header {
  margin-bottom: 2em;
  text-align: center;
}
.game {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
}
.word {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin-top: 3em;
}
.wrongletters-container {
  display: flex;
  flex-basis: 50%;
}
.letter, .wrongletter {
  border-bottom: 2px solid #055735;
  display: inline-flex;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}
.wrongletter {
  border-bottom: 0;
}
.letter {font-size:40px;}
.letterinputfield {
  position: relative;
  top:40px;
}
.letterinput {
  position: relative;
  background-color: white;
  border:0;
  border-radius: 8px;
  width: 60px;
  height: 60px;
  padding:10px;
  top:0;
  left:0;
  box-sizing: border-box;
  font-size:40px;
  text-align: center;
  color: transparent;
  text-shadow: 0 0 0 #00a25e;
  cursor:default;
}
input.letterinput {
  border: 0;
  outline: 0;
}
.popup {
  background-image: url(../src/img/notification-bubble.svg);
  max-width: 400px;
  padding: 0.5em 1em 1.5em;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 4px 6px #005e41);
  margin: 0 15px;
  position: absolute;
  bottom: 15vh;
  right:0;
  transform: translateX(105%);
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
}
.popup p {
  margin: 0;
}

.popup.show {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}
.alert {
  justify-content: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  color: #353b3a;
  padding: 2em 4em;
  border-radius: 20px;
  text-align: center;
  box-shadow: var(--shadow-elevation-high);
  width: 300px;
  margin: -1em auto 0;
}
.btn {
  background-color:#00a25e;
  color:white;
  border:2px #00a25e solid;
  margin: 1em 0 0;
  padding:8px 16px;
  font-size:30px;
  font-family: inherit;
  font-weight:700;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.btn:hover {
  color:#00a25e;
  background-color:white;
}

/***************************************************
 * Generated by SVG Artista on 12/10/2021, 5:12:48 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 @-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

.drawing-1 {
  -webkit-animation: animate-svg-fill-1 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s both;
          animation: animate-svg-fill-1 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s both;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

.drawing-2 {
  -webkit-animation: animate-svg-fill-2 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.35s both;
          animation: animate-svg-fill-2 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.35s both;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

.drawing-3 {
  -webkit-animation: animate-svg-fill-3 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.45s both;
          animation: animate-svg-fill-3 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.45s both;
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

.drawing-4 {
  -webkit-animation: animate-svg-fill-4 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.55s both;
          animation: animate-svg-fill-4 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.55s both;
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

.drawing-5 {
  -webkit-animation: animate-svg-fill-5 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.65s both;
          animation: animate-svg-fill-5 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.65s both;
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

.drawing-6 {
  -webkit-animation: animate-svg-fill-6 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.75s both;
          animation: animate-svg-fill-6 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.75s both;
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

.drawing-7 {
  -webkit-animation: animate-svg-fill-7 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8500000000000001s both;
          animation: animate-svg-fill-7 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.8500000000000001s both;
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

.drawing-8 {
  -webkit-animation: animate-svg-fill-8 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.9500000000000001s both;
          animation: animate-svg-fill-8 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.9500000000000001s both;
}

@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

.drawing-9 {
  -webkit-animation: animate-svg-fill-9 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.05s both;
          animation: animate-svg-fill-9 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.05s both;
}

@-webkit-keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

@keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

.drawing-10 {
  -webkit-animation: animate-svg-fill-10 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.15s both;
          animation: animate-svg-fill-10 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.15s both;
}

@-webkit-keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

@keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: white;
  }
}

.drawing-11 {
  -webkit-animation: animate-svg-fill-11 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.25s both;
          animation: animate-svg-fill-11 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.25s both;
}
